.p-card {
  background-color: white !important;
  padding: 1rem;
  border-radius: var(--border-radius);
  border-color: #e5e7eb;
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;

  &__header {
    font-weight: var(--font-weight-bold);
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: var(--font-size-base);
    color: var(--text-color);
  }
}
